@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Horizon";
  src: url(assets/font/horizon.otf);
}

:root {
  --primary-color: black;
  --on-primary-color: #f78f00;
  --on-secondary-color: white;
  font-family: "Horizon", sans-serif;
  color: var(--on-primary-color);
}

#contact-row {
  color: var(--on-secondary-color)
}

.btn-secondary {
  color: var(--on-secondary-color);
  background-color: var(--primary-color);
}

.bg-primary {
  background-color: var(--on-primary-color);
  color: white;
}

.font-arimo {
  font-family: "Arimo", sans-serif;
}

.accordion-transition {
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

