@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Horizon";
  src: url(assets/font/horizon.otf);
}

:root {
  --primary-color: black;
  --on-primary-color: #f78f00;
  --on-secondary-color: white;
  font-family: "Horizon", sans-serif;
  color: var(--on-primary-color);
  scrollbar-color: var(--on-primary-color) var(--on-secondary-color);
}

#contact-row {
  color: var(--on-secondary-color)
}

.btn-secondary {
  background-color: var(--on-secondary-color);
  color: var(--primary-color);
}

.btn-secondary:hover {
  color: var(--on-secondary-color);
  background-color: var(--primary-color);
}

.bg-primary {
  background-color: var(--on-primary-color);
  color: white;
}

.font-arimo {
  font-family: "Arimo", sans-serif;
}

.font-abril-fatface {
  font-family: "Abril Fatface", serif;
}

.font-poppins {
  font-family: "Poppins", serif;
}

.accordion-transition {
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.span-text {
  color: var(--on-primary-color);
  text-decoration: underline;
}

.span-text:hover {
  color: var(--on-secondary-color);
  cursor: pointer;
}

.text-shadow {
  text-shadow:10px 12px 14px var(--on-primary-color);
}

.consultancy-package {
  background-color: var(--on-primary-color);
  color: white;
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
}

.consultancy-package:hover {
  background-color: white;
  color: var(--on-primary-color);
}

.consultancy-package-font-size-transition {
  transition: font-size 0.5s ease-out;
}

